torch==2.5.1+cu121
torchaudio==2.5.1+cu121

demucs @ git+https://github.com/facebookresearch/demucs.git

fastapi>=0.100.0
uvicorn[standard]>=0.23.0
python-multipart>=0.0.6

librosa>=0.10.0
numpy==1.26.4
scipy>=1.10.0
soundfile>=0.12.1

musdb>=0.4.0
mir_eval>=0.7

pandas>=2.0.0
tqdm>=4.65.0
python-dotenv>=1.0.0